<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Customer</h1>
<a href="/customers/create">Create</a>
<table>
    <caption>Customer List</caption>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Avatar</th>
    </tr>
    <th:block th:each="customer: ${list}">
        <tr>
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.address}"></td>
            <td><img th:src="@{'i/'+ ${customer.getAvatar()}}" width="100px"></td>
        </tr>
    </th:block>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>