# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Noob\Desktop\c0920i1_VuTuanAnh\Project-CodeGym\Module4\20-1-2020\demo-thymleaf-upload-file\spring-upload-file\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
